<ion-view view-title="Acerca de nosotros">
    <ion-content>
        <div class="container">
            <br>
        <h2>QuieroNatural </h2>
            <br>
        <p> QuieroNatural es un sitio de venta online de alimentos naturales de todas partes del Uruguay
            <br>
            <br>
            Acercamos alimentos naturales de todas partes del Uruguay desde el campo directamente a la puerta de tu hogar. ¡Con QuieroNatural estás solo a un click de mejorar tu estilo de vida!

            <br>
            <br>
            Visitá nuestro sitio: www.quieronatural.com
            <br>
            Seguínos: https://www.twitter.com/quiero_natural</p>
        </div>


    </ion-content>
    <img class="img" src="img/fondo4.png" style="height: 100%; margin-left: -10px">
</ion-view>