<ion-view view-title="Productos">
  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <input type="search" ng-model="filters.Nombre" placeholder="Buscar">
    </label>
    <button class="button button-icon icon ion-search light">
    </button>
  </div>
  <ion-content class="has-subheader">

      <div class="item item-divider item-dark">
        {{categoria.Nombre}}
      </div>

    <div class="list card" ng-repeat="producto in categoria.Productos | filter:filters">

      <a href="#/app/productos/{{producto.Id}}" class="item item-avatar">
        <img src="{{producto.ImagenProducto}}">
        <h2>{{producto.Nombre}}</h2>
        <p>
          {{producto.DescripcionCorta}}
        </p>
      </a>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <p><rating ng-model="producto.Calificacion" max="5" readonly="true"></rating></p>
        </a>
        <h>
          ${{producto.Precio}}
        </h>
        <p style="font-size: 10px">
          &nbsp;(x {{producto.Cantidad}}{{producto.Unidad}})
        </p>
        <a class="tab-item button button-balanced" style="margin-left: 10px" ng-click="agregarAlCarrito(producto)">
          <i class="icon ion-android-cart"></i>
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
