<ion-view title='<img align="left" class="title-image"/>'>
    <ion-content>
        <div class="item item-divider item-dark">
            Comentar productos de {{pedido.NombreProductor}}
        </div>
        <div class="list card" ng-repeat="pedidoProducto in pedido.PedidosProductos">
            <div class="item item-avatar">
                <img src="{{pedidoProducto.Producto.ImagenProducto}}">
                <h2>{{pedidoProducto.NombreProducto}}</h2>
                <div class="container">
                    <p><rating ng-model="pedidoProducto.Calificacion" max="5" readonly="true"></rating></p>
                   <label class="item item-input">
                        {{pedidoProducto.Comentarios}}
                    </label>

                </div>

            </div>
        </div>
    </ion-content>
</ion-view>