<ion-view view-title="Producto">
    <ion-content>
        <div class="list card" ng-repeat="pedidoProducto in pedido.PedidosProductos">
            <div class="item item-avatar">
                <img src="{{pedidoProducto.Producto.ImagenProducto}}">
                <h2>{{pedidoProducto.NombreProducto}}</h2>
                <div class="container">
                    <p><rating ng-model="pedidoProducto.Calificacion" max="5" readonly="false"></rating></p>
                   <label class="item item-input">
                        <textarea ng-model="pedidoProducto.Comentarios" placeholder="Escribe tu comentario aqui"></textarea>
                    </label>

                    <button ng-click="comentarPedido(pedidoProducto.PedidoId, pedidoProducto.ProductoId, pedidoProducto.Comentarios,pedidoProducto.Calificacion)" class="button button-block button-calm">
                        Enviar
                    </button>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>