<ion-view title='<img align="left" class="title-image" src="img/Manzana38px.png" />'>
    <ion-content>
        <div class="item item-divider">
            Mis pedidos realizados
        </div>
        <div class="list card" ng-repeat="pedido in pedidos">

            <div class="item item-avatar">
                <img src="{{pedido.ImagenProductor}}">
                <h2>{{pedido.NombreProductor}}</h2>
                <p>
                    {{pedido.FechaCreacion}}
                </p>
                <div class ="list" ng-repeat="producto in pedido.PedidosProductos">
                    <p>{{producto.Cantidad}} {{producto.NombreProducto}}</p>
                </div>

            </div>
            <div class="item tabs tabs-secondary">
                <div>
                    <a  class="tab-item button-full ligth" ng-if="pedido.EstadoPedido == 0">
                        Pendiente
                    </a>
                    <a  class="tab-item button-full dark" ng-if="pedido.EstadoPedido == 1" ng-click="pedidoEntregado($index)">
                        Marcar como entregado
                    </a>
                    <a  class="tab-item button-full ligth" ng-if="pedido.EstadoPedido == 2">
                        Rechazado
                    </a>
                    <a  class="tab-item button-full dark" ng-if="pedido.EstadoPedido == 3 && pedido.PedidoCalificado==false" href="#/app/pedidos/{{pedido.Id}}">
                        Comentar
                    </a>
                    <a  class="tab-item button-full dark" ng-if="pedido.EstadoPedido == 3 && pedido.PedidoCalificado==true" href="#/app/pedidosD/{{pedido.Id}}">
                        Ver comentario
                    </a>
                </div>

                <div  style="margin-left: 15px">
                    <a  class="tab-item button-full balanced" ng-if="pedido.EstadoPedido == 3 || pedido.EstadoPedido == 2" ng-click="repetirPedido($index)">
                        Repetir
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>