<ion-view view-title="Ingresar">
  <ion-content>
    <form ng-submit="login()">
      <div class="list">
        <div data-ng-hide="message == ''" class="alert alert-danger">
          {{message}}
        </div>
        <label class="item item-input">
          <span class="input-label">Usuario</span>
          <input type="text" ng-model="loginData.userName" required autofocus>
        </label>
        <label class="item item-input">
          <span class="input-label">Contrase&#241a</span>
          <input type="password" ng-model="loginData.password" required>
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Ingresar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
