<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-balanced" >
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Configuración</h1>
    </ion-header-bar>
    <ion-content>

      <div class="list">
        <a class="item item-icon-left nav-clear menu-close" href="#/app/pedido">
          <i class="icon ion-android-cart"></i>
          Pedidos
          <i class="icon ion-ios7-telephone-outline"></i>
          <span id="totalPedidos" class="badge badge-assertive">{{cantidadPedidos}}</span>
        </a>

        <a class="item item-icon-left nav-clear menu-close" href="#/app/pedidos">
          <i class="icon ion-ios-list"></i>
          Mis pedidos
        </a>

        <a class="item item-icon-left nav-clear menu-close" href="#/app/principal">
          <i class="icon ion-ios-nutrition"></i>
          Productos por categorías
        </a>

        <a class="item item-icon-left nav-clear menu-close" href="#/app/productores">
          <i class="icon ion-ios-body"></i>
          Productores
        </a>

        <a class="item item-icon-left nav-clear menu-close" href="#">
          <i class="icon ion-person"></i>
          Cuenta
            <span class="item-note">
      Opciones de cuenta
    </span>
        </a>

       <a class="item item-icon-left nav-clear menu-close" href="#/app/acercaDe">
          <i class="icon ion-information-circled"></i>
          Acerca de QuieroNatural
        </a>

        <a class="item item-icon-left nav-clear menu-close" href="#/app/bienvenida">
          <i class="icon ion-information-circled"></i>
          Prueba login
        </a>

      </div>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>


