<div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
        <input type="search" ng-model="filters.Nombre" placeholder="Buscar">
    </label>
    <button class="button button-icon icon ion-search light">
    </button>
</div>

<ion-view title='<img align="left" class="title-image" src="img/Manzana38px.png" />'>
  <ion-content class="has-subheader">

      <div class="list">
          <a ng-repeat="categoria in categorias | filter:filters" href="#/app/categorias/{{categoria.Id}}" class="item item-thumbnail-left">
              <img ng-src="{{categoria.ImagenCategoria}}">
              <h2>{{categoria.Nombre}}</h2>
              <h3>{{categoria.Descripcion}}</h3>
              <h4>({{categoria.CantidadProductos}})</h4>
          </a>
      </div>
  </ion-content>
</ion-view>
