<div class="bar bar-subheader item-input-inset">
    
    <input type="search" placeholder="Search">
 <a class="button button-icon icon ion-search" align="right"></a>
</div>

<ion-view title='<img align="left" class="title-image" src="img/Manzana38px.png" />'>
  <ion-content class="has-subheader">
    <ion-list>
      <ion-item ng-repeat="categoria in categorias" href="#/app/categorias/{{categoria.Id}}">
        {{categoria.Nombre}} ({{categoria.CantidadProductos}})
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
